:root{

    --accent:#10b981;

    --bg:#111111;
    --bg2:#181818;
    --bg3:#232323;

    --text:#fff;
    --text2:#9ca3af;

    --border:#2f2f2f;

}

body.light{

    --bg:#ffffff;
    --bg2:#f8f8f8;
    --bg3:#eeeeee;

    --text:#101010;
    --text2:#666;

    --border:#d9d9d9;

}